{% assign contactOptions = contact_options | sortBy: "order" %}
<footer>
  <div class="mb-24 md:mb-28 py-4 bg-green-400">
    <p class="text-sm text-center mx-4 text-gray-100">
      {{ site.legal.name }}, {{ site.legal.address }} - {{ site.legal.vat }}
    </p>
  </div>
  <div
    class="footer fixed bottom-0 py-4 md:py-6 inset-x-auto w-full h-24 md:h-28 bg-green-400 text-white md:text-black md:bg-white z-20"
  >
    <div class="container grid grid-cols-3 mx-auto">
      {%- for option in contactOptions -%}
        {% contactOption option.url, option.text, option.type, option.urlBlank %}
      {%- endfor -%}
    </div>
  </div>
</footer>
