<div class="header-background absolute w-full left-0 overflow-hidden text-teal-500 -z-10">
  <svg
    class="h-84 md:h-full min-w-120vw -ml-16 sm:-ml-8 md:ml-0 header-background__svg"
    preserveAspectRatio="none"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 1366.55 495.27"
  >
    <defs>
      <linearGradient
        id="header-shape-gradient"
        gradientTransform="rotate(75)"
      >
        <stop offset="0%" stop-color="var(--color-start)" />
        <stop offset="100%" stop-color="var(--color-stop)" />
      </linearGradient>
    </defs>
    <path
      d="M0-6H1366c.17,66.5-.17,225.5,0,292-314.09-97.33-557-5-601,10C559.53,366.05,533,449,374,483c-99.71,21.32-236.53-14.5-292-66C40,378,10,336-.5,271"
      transform="translate(0.5 6)"
    />
  </svg>
</div>
<header class="row-span-1 col-span-12 md:col-start-2 md:col-span-10 py-10 mt-28 z-10">
  <h1 class="text-4xl pb-4 leading-10 text-white">
    {{ site.title }}
  </h1>
  <h2 class="subtitle text-gray-100 text-2xl pb-4">
    {{ site.subtitle }}
  </h2>
</header>